.Hamby {
  width: 35px;
  height: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media only screen and (min-width: 400px) {
    width: 45px;
    height: 45px;
  }
}
